# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/

# Jupyter
.ipynb_checkpoints/

# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/